# Dependencies
node_modules/

# Build output
dist/
out-tsc/
tmp/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Angular cache
.angular/

# Misc
*.tgz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
